<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>


    <appSettings>
      <add key="AssemblyWhereToLookUp" value="E:\GitHub\ReflectionUserInterface\ExternApp\bin\Debug\ExternApp.exe"/>
      <add key="DirLevel0" value="TestSuiten"/>
    </appSettings>
</configuration>